---
layout: "wrapper"
description: Collection of essays on business and life.
---
<section class="home-container">
    <div class="bio">
      <p>Hi, I'm <a href="https://twitter.com/jwazen1" class="instagram">James</a>. Currently working on making global IT logistics as seamless as possible for enterprises. This is my personal blog where I write about the lessons I've learned from business and in life. Thanks for visiting.</p>
    </div>
    <div class="body">
      <h2>Updates—7/2/24</h2>
      <div class="body-cell">
        <h3>Website Update</h3>
        <p>Last weekend, I played a few games that were originally designed for mobile viewports and then ported onto the PC. The PC version was exactly the same as the mobile game, just on a desktop, and overall the experience was still pretty good. Whereas if you designed for PC first and then ported that experience to a mobile device, the space constraints would render the layout unusable. Hence why "mobile first," is a thing. But it made me wonder, maybe "mobile exclusively" might be even better than just mobile first. So anyways, I updated this site to be "mobile exclusive" because why not.</p>
      </div>
      <div class="body-cell">
        <h3>A Random Thought</h3>
        <p>Leadership is centered around two core activities: figuring out what a team ought to do and setting the pace for everyone on the team.</p>
      </div>
      <div class="body-cell">
        <h3>Latest Work</h3>
        <p><a href="https://www.fgx.com">The updated FGX website.</a> In the last decade (seven years personally), we've learned a lot about the world of enterprise IT supply-chains. We delivered hardware to the most regulated countries in the world, stood up logistics programs for large vendors and end-users alike, and there's a lot more to come.</p>
      </div>
    </div>
</section>