---
layout: "wrapper"
description: Collection of essays on business and life.
---
<section class="home-container">
    <div class="bio">
      <p>Hi, I'm <a href="https://twitter.com/jwazen1" class="instagram">James</a>. Currently working on making global IT logistics as seamless as possible for enterprises. This is my personal blog where I write about the lessons I've learned from business and in life. Thanks for visting.</p>
    </div>
    <div class="body">
      <p>Update as of 5/11/24:</p>
      <ul>
        <li><a href="https://www.fgx.com">The updated FGX website.</a> In the last decade (seven years personally), we've learned a lot about the IT industry, its players, what works, what doesn't, and I can confidently say that we're the most knowledgable team in the world when it comes to the intersection of IT and logistics. We spent the last few years figuring out what direction we really wanted to commit to and now that we've done our homework, we're ready to transform our research and thinking into product. Our updated website and brand is just the beginning.</li>
      </ul>
    </div>
</section>